*{
    margin: 0;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------header----------------*/

header{
    height: 10vh;
    background:  gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #icon{
    font-size: 2rem; 
    margin-left: 10px;  
    margin-right: 10px;   
}


/* ------------------nav----------------*/

nav{
    background: #a0a0a0;
    height: 85vh;
    min-height: 45rem;
    width: 20%;
    min-width: 10rem;
    max-width: 18rem;
    float: left;
}
nav>div{
    margin: 2rem;
}

nav p{
    font-size: 1.1rem;
    margin: 0.3rem;
}

nav li{
    margin: 0.5rem;
}

nav .navSerch{
    inline-size: auto;
}

nav .navSerch input{
    width: 70%;
    min-width: 5rem;
    max-width: 12rem;
}

/* ------------------section----------------*/

section{
    float: left;
    height: 45rem;
    width: 75%;
    display: flex;
    text-align: center;
}

section .loginBox{
    background-color: #cacaca;
    border: 1px grey solid;
    border-radius: 2rem;
    position: relative;
    margin: 5rem auto;

}

section .loginBox h1{
    margin: 1.5rem;
}

section .loginBox div{
    display: block;
    margin-top: 1.7rem;

}
section .loginBox input{
    height: 1.7rem;
    border-radius: 5px;

}
section .loginBox p{
    font-size: 2rem;
}

section .find button{
    background: none;
    border: 0px;
}

section hr{
    margin: 1rem auto;
    width: 70%;
    border-color: black;
}

section .forienAcc button{
    display: inline-block;
    overflow: hidden;
    width: 80%;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-repeat: no-repeat;
}

section .forienAcc .btnkakao{
    background-color: #ffda00;
}

section .forienAcc .btnnaver{
    background-color: #03c75a;
}

section .forienAcc .btngoogle{
    background-color: white;
}

footer{
    clear: both;
    text-align: end;
    background-color: grey;
    padding: 1rem;
}

footer a{
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}